/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * locally scoped CSS by default.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.features {
  padding: 4rem 0;
}

.features h2 {
  margin-top: 2rem;
}

.features h3 {
  margin-top: 1.5rem;
}

.features p {
  margin-bottom: 1rem;
}

.text--center {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col {
  flex: 1;
  padding: 0 1rem;
  margin-bottom: 2rem;
}

.col--12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col--4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

@media screen and (max-width: 996px) {
  .col--4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}